#ApiData{
    display: flex;
    flex-direction: column;
    flex: auto;
}

#ApiData #header{
    display: grid;
    grid-template-columns: auto auto;
    column-count: 2;
    text-align: center;
}

#ApiData table{
    width: 100%;
    margin: 0 auto;
}

#ApiData table th{
    text-align: left;
}

#ApiData table tr:nth-child(2n) {
    text-align: left;
    background-color: gainsboro;
}

#ApiData #footer{
    margin: auto auto 0 auto;
}
