main {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
}

main #content{
    margin: auto;
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    /*box-shadow: 5px 10px 5px #888888;*/
}

main #content h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}